@font-face {
  font-family: 'Noah';
  src: url('./assets/Noah\ Text\ Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

 * {
  font-family: Noah;
  font-weight: normal;
  font-size: 20px;
}

html {
  height: 100vh;
}

body {
  //background-color: #06e3fd;
}

#root {
        background-color: #00b6ca;
    width: 5352px;
    display: flex;
    height: 3352px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
        width: 2352px;
        height: 416px;
        display: flex;
        justify-content: center;
        img {
        width: 550px;
  }
}

.all {
        display: flex;
        width: 2352px;
        height: 832px;
}

.right {
        width: 312px;
        height: 832px;
        box-sizing: border-box;
        flex-shrink: 0;
}

.left {
        width: 312px;
        box-sizing: border-box;
        flex-shrink: 0;
}

.both {
        display: flex;
        flex-direction: row;
        padding: 50px 100px 50px 50px;
        gap: 20px;
        justify-content: center;
        width: 1728px;
        max-height: 832px;
        align-items: center;
}

.wrapper {
  width: 1100px;
  max-height: 100%;

  .first_row {
        display: flex;
        border-bottom: 3px solid #fff62b;
        justify-content: space-between;
  }

  .last_row {
        display: flex;
        justify-content: space-between;
  }
}

.number {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;

  img {
        width: 360px;
  }
}

.inputdiv {
        max-width: 30vw;
}

.lastSelected {
	-webkit-animation: bounce-in-top 1.1s forwards, blink-1 2s 1.6s infinite both;
	animation: bounce-in-top 1.1s forwards, blink-1 2s 1.6s infinite both;
        background-color: #ff299b;

  p {
        color:#fff62b;
  }
}

.selected {
        background-color: #ff299b;

  p {
        color:#fff62b;
  }
}

p {
  font-size: large;
  color:white;
  font-weight: bold;
  font-size: 40px;
}

input {
        background-color: transparent;
        color: white;
        border: none;
        //border-bottom: 2px solid #fff62b;
        font-size: 200px;
        text-align: center;
        caret-color: transparent;
}

input:focus {
        color:#fff62b;
        outline: none;
    }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

 @-webkit-keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }
      @keyframes blink-1 {
        0%,
        50%,
        100% {
          opacity: 1;
        }
        25%,
        75% {
          opacity: 0;
        }
      }
      